<div class="w-full border rounded-lg mx-auto py-12 lg:py-20">
    <div class="relative mx-auto self-center flex">
        <div class="text-5xl text-purple-900 text-center flex flex-col justify-center gap-4 bg-gray-200 p-10 rounded-lg mx-auto">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-cart-dash w-9 h-9 mx-auto" viewBox="0 0 16 16">
                <path d="M6.5 7a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1z"/>
                <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
            </svg>
            <p class="font-semibold">Panier vide !</p>
            <a href="{{ path('boutique') }}" class="inline-flex justify-center hover:bg-purple-600 text-white text-lg px-5 py-2.5 bg-purple-700 rounded-lg shadow-lg">
                Commencer mon shopping >
            </a>
        </div>
    </div>
</div>