{% extends 'base.html.twig' %}

{% block title %}
  Politique de Confidentialité
{% endblock %}

{% block body %}
  <div class="faq-page items-center flex min-h-full px-8">
    <div class="px-4 lg:w-max mt-5 md:px-8">
      <div class="items-start justify-between md:flex border-b pb-6 text-gray-600">
        <div class="max-w-lg">
          <h1 class="text-purple-800 text-xl font-semibold sm:text-2xl">Foire Aux Questions (FAQ)</h1>
          <p class="text-md text-gray-800">Bienvenue sur notre page FAQ. Ici, vous trouverez des réponses aux questions les plus fréquentes concernant notre service.</p>
        </div>
      </div>
      <div class="px-4 text-sm font-medium">
        <h2 class="font-semibold text-purple-800 text-lg m-4">Généralités sur le Service</h2>
        <p class="text-md pl-6">
          <strong>Qu'est-ce que setsetal-service ?</strong><br />
          setsetal-service est une plateforme en ligne permettant de commander des services de pressing et d'acheter des produits de nettoyage tiers.
        </p>
        <p class="text-md pl-6">
          <strong>Quels services proposez-vous ?</strong><br />
          Nous proposons des services de pressing et une boutique en ligne pour divers produits de nettoyage.
        </p>

        <h2 class="font-semibold text-purple-800 text-lg m-4">Inscription et Compte</h2>
        <p class="text-md pl-6">
          <strong>Comment créer un compte ?</strong><br />
          Seuls les employés, les propriétaires, et les administrateurs sont obligés de créer un compte. Pour cela, ils doivent remplir notre formulaire d'inscription avec leur nom, adresse e-mail, numéro de téléphone, et créer un mot de passe.
        </p>
        <p class="text-md pl-6">
          <strong>Puis-je utiliser setsetal-service sans créer de compte ?</strong><br />
          Oui, en tant que client, vous n'êtes pas obligé de créer un compte. Vous pouvez simplement renseigner vos données personnelles pour commander un service ou un produit.
        </p>
        <p class="text-md pl-6">
          <strong>Comment réinitialiser mon mot de passe ?</strong><br />
          Si vous êtes employé, propriétaire, ou administrateur, cliquez sur "Mot de passe oublié" sur la page de connexion et suivez les instructions pour réinitialiser votre mot de passe.
        </p>

        <h2 class="font-semibold text-purple-800 text-lg m-4">Commandes</h2>
        <p class="text-md pl-6">
          <strong>Comment passer une commande ?</strong><br />
          Pour commander un service, rendez-vous sur la page de collecte, renseignez votre numéro de téléphone et suivez les étapes. Pour les produits, sélectionnez ceux que vous souhaitez, ajoutez-les à votre panier, puis procédez au paiement.
        </p>
        <p class="text-md pl-6">
          <strong>Puis-je modifier ou annuler ma commande après l'avoir passée ?</strong><br />
          Les commandes ne peuvent pas être modifiées ou annulées après avoir été passées.
        </p>
        <p class="text-md pl-6">
          <strong>Comment suivre ma commande ?</strong><br />
          Après chaque commande, vous recevrez un code unique composé de 4 caractères et un lien vers la page de suivi de commande via WhatsApp. Une fois sur la page, renseignez le code dans le formulaire pour voir le statut de votre commande.
        </p>

        <h2 class="font-semibold text-purple-800 text-lg m-4">Paiements</h2>
        <p class="text-md pl-6">
          <strong>Quels modes de paiement acceptez-vous ?</strong><br />
          Actuellement, notre service de paiement en ligne est en cours de développement.
        </p>
        <p class="text-md pl-6">
          <strong>Est-ce que mes informations de paiement sont sécurisées ?</strong><br />
          Oui, vos informations de paiement seront sécurisées grâce à notre système de cryptage une fois le service de paiement en ligne en place.
        </p>
        <p class="text-md pl-6">
          <strong>Puis-je obtenir une facture pour ma commande ?</strong><br />
          Oui, vous pouvez obtenir une facture pour votre commande en utilisant le même processus que pour le suivi de commande. Vous recevrez un lien vers la page de votre commande via WhatsApp, où vous pourrez consulter votre facture.
        </p>

        <h2 class="font-semibold text-purple-800 text-lg m-4">Livraisons</h2>
        <p class="text-md pl-6">
          <strong>Quels sont les délais de livraison ?</strong><br />
          Les délais de livraison varient entre 24 et 48 heures.
        </p>
        <p class="text-md pl-6">
          <strong>Quels sont les frais de livraison ?</strong><br />
          Les frais de livraison dépendent de votre localisation et du poids de votre commande.
        </p>
        <p class="text-md pl-6">
          <strong>Livrez-vous en dehors de la zone urbaine ?</strong><br />
          Oui, nous livrons en dehors de la zone urbaine moyennant des frais supplémentaires.
        </p>

        <h2 class="font-semibold text-purple-800 text-lg m-4">Retours et Remboursements</h2>
        <p class="text-md pl-6">
          <strong>Comment retourner un produit ?</strong><br />
          Pour retourner un produit, contactez notre service client et suivez les instructions fournies.
        </p>
        <p class="text-md pl-6">
          <strong>Quels produits peuvent être retournés ?</strong><br />
          Seuls les produits endommagés ou non conformes peuvent être retournés.
        </p>
        <p class="text-md pl-6">
          <strong>Quand et comment serai-je remboursé ?</strong><br />
          Les remboursements sont effectués sous 7 jours ouvrables après validation du retour.
        </p>

        <h2 class="font-semibold text-purple-800 text-lg m-4">Support Client</h2>
        <p class="text-md pl-6">
          <strong>Comment puis-je contacter le support client ?</strong><br />
          Vous pouvez contacter notre support client via notre formulaire de contact sur le site ou par téléphone au 33 888 88 88.
        </p>
        <p class="text-md pl-6">
          <strong>Quels sont les horaires d'ouverture du support client ?</strong><br />
          Notre support client est disponible 7 jours sur 7.
        </p>

        <h2 class="font-semibold text-purple-800 text-lg m-4">Autres</h2>
        <p class="text-md pl-6">
          <strong>Utilisez-vous des cookies sur votre site ?</strong><br />
          Nous n'utilisons pas de cookies sur notre site pour le moment.
        </p>
        <p class="text-md pl-6">
          <strong>Comment puis-je supprimer mon compte ?</strong><br />
          Pour supprimer votre compte, veuillez contacter notre support client.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
