{% extends 'base.html.twig' %}

{% block title %}
  Services
{% endblock %}

{% block body %}
  <div class="customer-form items-center flex min-h-full px-8">
    <div class="px-4 lg:w-max mt-5 md:px-8">
      <div class="items-start justify-between md:flex border-b pb-6 text-gray-600">
        <div class="max-w-lg">
            <h3 class="text-purple-800 text-xl font-semibold sm:text-2xl">A propos de nous</h3>
            <p class="text-gray-500 mt-2">Veuillez entrer le numéro de téléfone du client pour commencer.</p>
        </div>
      </div>
      <div class="px-4 text-sm font-medium">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, quaerat expedita modi facere deleniti numquam ducimus velit est reprehenderit omnis iste cupiditate consectetur eius accusamus iure quos at tempore perspiciatis dolores aspernatur eos totam officiis. Quibusdam vitae iure deleniti, illum, tempore harum cum nemo quas velit obcaecati corporis asperiores temporibus?
        </p>
      </div>
    </div>
  </div>
{% endblock %}
