{% extends 'base.html.twig' %}

{% block title %}
  Politique de Retour et de Remboursement
{% endblock %}

{% block body %}
  <div class="return-policy items-center flex min-h-full px-8">
    <div class="px-4 lg:w-max mt-5 md:px-8">
      <div class="items-start justify-between md:flex border-b pb-6 text-gray-600">
        <div class="max-w-3xl">
          <h1 class="text-purple-800 text-xl font-semibold sm:text-2xl">Politique de Retour et de Remboursement</h1>
          <p class="text-md text-gray-800">Chez setsetal-service, nous nous engageons à offrir une expérience de service client exceptionnelle. Si vous avez des questions ou des préoccupations concernant votre commande, veuillez consulter notre politique de retour et de remboursement ci-dessous.</p>
        </div>
        <span class="bg-gray-200 text-gray-800 p-3 rounded-md">Dernière mise à jour : le 01/06/2024</span>
      </div>
      <div class="px-4 text-sm font-medium">
        <h2 class="font-semibold text-purple-800 text-lg m-4">1. Conditions de Retour</h2>
        <p class="text-md pl-6">Seuls les produits endommagés ou non conformes sont éligibles pour un retour. Les produits conformes et les services de pressing ne sont pas remboursables.</p>

        <h2 class="font-semibold text-purple-800 text-lg m-4">2. Période de Retour</h2>
        <p class="text-md pl-6">Les retours doivent être effectués dans les 2 jours suivant la livraison.</p>

        <h2 class="font-semibold text-purple-800 text-lg m-4">3. État des Produits</h2>
        <p class="text-md pl-6">Les produits doivent être dans leur emballage d'origine avec des preuves que le produit livré était déjà endommagé au moment de la livraison.</p>

        <h2 class="font-semibold text-purple-800 text-lg m-4">4. Processus de Retour</h2>
        <p class="text-md pl-6">Pour initier un retour, veuillez contacter notre service client. Les frais de livraison pour la récupération du produit chez le client et la prochaine livraison, dans le cas où le client décide de changer le produit, seront à la charge du client.</p>

        <h2 class="font-semibold text-purple-800 text-lg m-4">5. Remboursements</h2>
        <p class="text-md pl-6">Si le client a payé avec notre système de paiement en ligne, l'argent sera remboursé sur le compte Mobile Money utilisé pour le paiement du produit. Sinon, si notre service confirme le remboursement, un livreur remettra l'argent en mains propres. En général, cela ne prendra pas plus de 7 jours ouvrables.</p>

        <h2 class="font-semibold text-purple-800 text-lg m-4">6. Exceptions</h2>
        <p class="text-md pl-6">Si le client n'a aucune raison valable ou si le produit a été utilisé, il ne sera pas éligible pour un remboursement.</p>

        <h2 class="font-semibold text-purple-800 text-lg m-4">7. Coordonnées</h2>
        <p class="text-md pl-6">Notre service client est disponible 7 jours sur 7 pour répondre aux questions des clients. Vous pouvez nous contacter au 33 888 88 88.</p>
      </div>
    </div>
  </div>
{% endblock %}
